<div class="right" >
   <img class="product-image" src={{product.imgUrl}} alt="">
   <section class="description">
      <div class="price">
         <h4>{{product.name}}</h4>
         <div>${{product.price}}</div>
      </div>
      <section class="info">
         <div class="additional">
            <img src="assets/img/volume.svg" alt="">
            <div>{{product.size}}ML</div>
         </div>
         <div *ngIf="product.sugar" class="additional">
            <img src="assets/img/sugar.svg" alt="">
            <div>Sugar</div>
         </div>
      </section>
   </section>
</div>
<div class="quantity-container">
   <div class="quantity">
      <button type="button" class="substract" id="substract" (click)="changeInput(-1)">
         <svg class="substract" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 7.44772 0.447715 7 1 7L15 7C15.5523 7 16 7.44772 16 8C16 8.55229 15.5523 9 15 9L1 9C0.447715 9 0 8.55228 0 8Z"/>
         </svg>
      </button>
      <input type="number" id="input" value={{product.quantity}} min="1" max="999" (change)="setInput($event.target)">
      <button type="button" class="add" id="add" (click)="changeInput(1)">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
            <g clip-path="url(#clip0_847_590)">
               <path fill-rule="evenodd" clip-rule="evenodd" d="M9 1C9 0.447715 8.55229 0 8 0C7.44772 0 7 0.447715 7 1V7H1C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9H7V15C7 15.5523 7.44772 16 8 16C8.55229 16 9 15.5523 9 15V9H15C15.5523 9 16 8.55229 16 8C16 7.44772 15.5523 7 15 7H9V1Z"/>
            </g>
            <defs>
               <clipPath id="clip0_847_590">
                  <rect width="16" height="16" fill="white"/>
               </clipPath>
            </defs>
         </svg>
      </button>
   </div>
   <button class="remove" type="button"  (click)="changeInput(0)"><img src="assets/img/remove.svg" alt=""></button>
</div>
