
<main class="container">
   <form class="cart">
      <h1>Shopping Cart</h1>
      <section class="summary">
         <ul class="cart-items">
            <li *ngFor="let product of productList">
               <app-cart-item [product]="product" [remove]="removeFromList.bind(this)"></app-cart-item>
            </li>
         </ul>
         <div class="checkout-container">
            <div class="checkout">
               <h4>Checkout</h4>
               <ul class="rates">
                  <li *ngFor="let product of productList">
                     <h4>{{product.name}}, {{product.size}} ml</h4>
                     <div>{{product.quantity}} X ${{product.price.toFixed(2)}}</div>
                  </li>
                  <li>
                     <h4>Delivery</h4>
                     <div>$5</div>
                  </li>
               </ul>
               <div class="delivery">
                  <h4>Total</h4>
                  <div>${{getTotalPrice().toFixed(2)}}</div>
               </div>
               <button>To Pay</button>
            </div>
         </div>
      </section>
   </form>
</main>
