@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0px 76px 0px;
}
.container .shop {
  width: 68%;
}
@media screen and (max-width: 700px) {
  .container .shop {
    width: 85%;
  }
}
.container .shop h1 {
  margin: 0;
  margin-bottom: 64px;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 57.6px */
  inline-size: 70%;
}
@media screen and (max-width: 1200px) {
  .container .shop h1 {
    font-size: 40px;
    inline-size: 100%;
    line-height: 130%; /* 31.2px */
  }
}
@media screen and (max-width: 900px) {
  .container .shop h1 {
    margin-bottom: 24px;
    font-size: 32px;
  }
}
@media screen and (max-width: 500px) {
  .container .shop h1 {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.container .shop .products {
  list-style: none;
  -moz-columns: 3;
       columns: 3;
  -moz-column-gap: 48px;
       column-gap: 48px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .container .shop .products {
    display: grid;
    row-gap: 100px;
    -moz-columns: unset;
         columns: unset;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}
@media screen and (max-width: 700px) {
  .container .shop .products {
    row-gap: 40px;
  }
}
.container .shop .products li form .image {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}
.container .shop .products li form .image svg {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
}
.container .shop .products li form .description {
  margin-bottom: 16px;
}
.container .shop .products li form .description .upper {
  margin: 24px 0px 16px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.container .shop .products li form .description .upper p {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
}
.container .shop .products li form .description .upper .price {
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  text-align: center;
  max-width: 42px;
  max-height: 20px;
  padding: 3px 2px 0px 2px;
}
.container .shop .products li form .description .options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container .shop .products li form .description .options .sugar {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container .shop .products li form .description .options .sugar input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container .shop .products li form .description .options .sugar input:checked ~ .checkmark {
  background-color: #F73;
}
.container .shop .products li form .description .options .sugar input:checked ~ .checkmark:after {
  display: block;
}
.container .shop .products li form .description .options .sugar .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 10px;
}
.container .shop .products li form .description .options .sugar .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.container .shop .products li form .description .options .sugar p {
  padding: 5px 0px 0px 35px;
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.container .shop .products li form .description .options .sugar::after {
  content: "";
  position: absolute;
  display: none;
}
.container .shop .products li form .description .options .sugar:hover input ~ .checkmark {
  background-color: #F73;
}
.container .shop .products li form .description .options .ratios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.container .shop .products li form .description .options .ratios .ratio {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.container .shop .products li form .description .options .ratios .ratio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container .shop .products li form .description .options .ratios .ratio input:checked ~ .radio {
  background-color: #fff;
}
.container .shop .products li form .description .options .ratios .ratio input:checked ~ .radio:after {
  display: block;
}
.container .shop .products li form .description .options .ratios .ratio .radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
}
.container .shop .products li form .description .options .ratios .ratio .radio::after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F73;
}
.container .shop .products li form .description .options .ratios .ratio p {
  padding: 5px 0px 0px 35px;
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.container .shop .products li form .description .options .ratios .ratio:hover input ~ .radio {
  background-color: #F73;
}
.container .shop .products li form .description .options label {
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.container .shop .products li form .atc {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.container .shop .products li form .atc button {
  background-color: transparent;
  border-radius: 64px;
  border: 2px solid var(--yellow, #FFBD5C);
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  padding: 16px 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height: 96px;
  padding: 0px 32px;
}
@media screen and (max-width: 700px) {
  header .icon {
    display: none;
  }
}
header .icon-small {
  display: none;
}
@media screen and (max-width: 700px) {
  header .icon-small {
    display: unset;
  }
}
header .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  text-decoration: none;
}
header .cart h3 {
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
  inline-size: 60%;
}
@media screen and (max-width: 700px) {
  header .cart h3 {
    display: none;
  }
}

*:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0px 76px 0px;
}
.container .cart {
  width: 68%;
}
@media screen and (max-width: 700px) {
  .container .cart {
    width: 90%;
  }
}
.container .cart h1 {
  margin: 0;
  margin-bottom: 64px;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: var(--fnt-size-h1);
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 57.6px */
  inline-size: 70%;
}
.container .cart .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 48px;
}
@media screen and (max-width: 1400px) {
  .container .cart .items {
    flex-direction: column;
  }
}
.container .cart .items ul {
  list-style: none;
  padding: 0;
  width: 70%;
}
@media screen and (max-width: 1400px) {
  .container .cart .items ul {
    width: 100%;
  }
}
.container .cart .items ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 850px) {
  .container .cart .items ul li {
    flex-direction: column;
  }
}
.container .cart .items ul li .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .cart .items ul li .right .description {
  margin: 0px 32px 0px 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 400px) {
  .container .cart .items ul li .right .description {
    margin: 0;
  }
}
.container .cart .items ul li .right .description .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.container .cart .items ul li .right .description .price h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.container .cart .items ul li .right .description .price p {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  align-self: flex-start;
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  text-align: center;
  max-width: 63px;
  max-height: 29px;
  padding: 4px 4px 0px 4px;
}
.container .cart .items ul li .right .description .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
.container .cart .items ul li .right .description .info .additional {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.container .cart .items ul li .quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.container .cart .items ul li .quantity-container .quantity {
  border-radius: 24px;
  border: 2px solid var(--yellow, #FFBD5C);
  background: var(--light-cream, #FEF2E8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cart .items ul li .quantity-container .quantity input {
  background-color: transparent;
  border: none;
  width: 45px;
  text-align: center;
  margin: 12px 0px;
  padding-bottom: 5px;
  padding-right: 12px;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}
.container .cart .items ul li .quantity-container .quantity input::-webkit-outer-spin-button, .container .cart .items ul li .quantity-container .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .cart .items ul li .quantity-container .quantity input:focus {
  border: none;
}
.container .cart .items ul li .quantity-container .quantity input[type=number] {
  -moz-appearance: textfield;
}
.container .cart .items ul li .quantity-container .quantity button {
  background: transparent;
  border: none;
}
.container .cart .items ul li .quantity-container .quantity .substract {
  margin-right: 10px;
}
.container .cart .items ul li .quantity-container .quantity svg {
  padding-bottom: 0;
  margin: 0px 5px;
}
.container .cart .items ul li .quantity-container svg {
  padding-bottom: 7px;
}
.container .cart .items .line {
  width: 100%;
  height: 2px;
  background-color: var(--clr-white);
  margin: 24px 0px;
}
.container .cart .items .checkout-container {
  border-radius: 16px;
  background: var(--clr-white);
  width: 30%;
}
@media screen and (max-width: 1400px) {
  .container .cart .items .checkout-container {
    width: 100%;
  }
}
.container .cart .items .checkout-container .checkout {
  padding: 32px 24px 24px 24px;
}
.container .cart .items .checkout-container .checkout h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}
.container .cart .items .checkout-container .checkout ul {
  list-style: none;
  padding: 0;
  width: unset;
}
.container .cart .items .checkout-container .checkout ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
}
@media screen and (max-width: 1400px) {
  .container .cart .items .checkout-container .checkout ul li {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1400px) {
  .container .cart .items .checkout-container .checkout ul li {
    flex-direction: row;
    justify-content: space-between;
  }
}
.container .cart .items .checkout-container .checkout ul li h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .items .checkout-container .checkout ul li p {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .items .checkout-container .checkout .delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
}
.container .cart .items .checkout-container .checkout .delivery h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .items .checkout-container .checkout .delivery p {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.container .cart .items .checkout-container .checkout .line {
  margin: 16px 0px;
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
}
.container .cart .items .checkout-container .checkout button {
  border-radius: 64px;
  border: 2px solid var(--clr-orange2);
  background-color: transparent;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 440px;
  height: 100%;
  background-color: var(--clr-white);
  z-index: 100;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup .ppinfo {
  margin: 48px 40px 40px 40px;
}
.popup .ppinfo .price {
  margin-bottom: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.popup .ppinfo .price h1 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-eczar);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}
.popup .ppinfo .price p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  align-self: flex-start;
  margin: 0;
  border-radius: 16px;
  background: var(--orange, #F73);
  color: var(--clr-white);
  font-family: var(--fnt-family-eczar);
  text-align: center;
  max-width: 63px;
  max-height: 29px;
  padding: 4px 4px 0px 4px;
}
.popup .ppinfo img {
  justify-self: flex-start;
}
.popup .ppinfo ul {
  list-style: none;
  padding: 0;
}
.popup .ppinfo ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 16px 0px;
}
.popup .ppinfo ul li h4 {
  margin: 0;
  color: var(--clr-db);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.popup .ppinfo ul li p {
  margin: 0;
  color: var(--clr-orange2);
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 16.8px */
}
.popup .ppinfo .line1 {
  margin: 32px 0px 24px 0px;
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
}
.popup .ppinfo .line2 {
  margin: 16px 0px;
  width: 100%;
  height: 2px;
  background-color: #F0F0F0;
}
.popup .ppinfo button {
  margin-top: 100px;
  border-radius: 64px;
  border: 2px solid var(--clr-orange2);
  background-color: transparent;
  color: var(--clr-db);
  text-align: center;
  font-family: var(--fnt-family-opensans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  padding: 16px 24px;
  width: 100%;
  height: 100%;
}

:root {
  --clr-lc: #FEF2E8;
  --clr-db: #023A6B;
  --clr-orange: #FF7733;
  --clr-orange2: #F73;
  --clr-white: #FFF;
  --fnt-size-h1: 48px;
  --fnt-size-h2: 36px;
  --fnt-size-h3: 24px;
  --fnt-size-p: 18px;
  --animation-dur: 0.5s ease;
  --fnt-family-opensans: "Open Sans", sans-serif;
  --fnt-family-eczar: "Eczar", sans-serif;
}

body {
  margin: auto;
  background-color: var(--clr-lc);
}/*# sourceMappingURL=main.css.map */